#container {
    background: gray;
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    
}

.squareoff {
    height: 100%;
    width: 100%;
    background: rgb(75, 133, 52);
}


.squareon {
    background: pink;

}